<!-- <button id="record-button">Push to Record</button> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<button id="test">Hold to Call</button>

<button>Release Call</button>

<script>
  const recordButton = document.getElementById('record-button');
  let isRecording = false;
  let audioChunks = [];
  let mediaRecorder;

        $(function() {
          $('#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });



  navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
  // do something with the stream
  }).catch(error => {
    console.error(error);
  });

  
  recordButton.addEventListener('mousedown', () => {
    audioChunks = [];
    startRecording();
  });
  
  recordButton.addEventListener('mouseup', () => {
    stopRecording();
  });

  
  async function startRecording() {
    if (!isRecording) {
      const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      mediaRecorder = new MediaRecorder(stream);
      console.log('check2, media recorder is present');
      mediaRecorder.addEventListener('dataavailable', (event) => {
        audioChunks.push(event.data);
      });
    }
    
    mediaRecorder.start();
    console.log("Media recorder is started:", mediaRecorder);
    isRecording = true;
  }
    
  async function stopRecording() {
  if (isRecording) {
    console.log("Media is going to be stopped", mediaRecorder);
    
    
    mediaRecorder.stop();
    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
    
    console.log("Media has been stopped", mediaRecorder);
    const audioBlob = new Blob(audioChunks);
    
    // send the audio data to the Python script
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/save_audio', true);
    xhr.setRequestHeader('Content-Type', 'audio/wav');
    xhr.send(audioBlob);
    
    // IF YOU WANT TO PLAY IT BACK
    // const audioUrl = URL.createObjectURL(audioBlob);
    // const audioElement = new Audio(audioUrl);
    // audioElement.play();
  
    // IF YOU WANT TO DOWNLOAD THE AUDIO
    // const downloadLink = document.createElement('a');
    // downloadLink.href = audioUrl;
    // downloadLink.download = '/temp/test_recording.wav';
    // downloadLink.click();
  }
    isRecording = false;
  }
</script>
